GitPython==3.1.42
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-api-python-client==2.132.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.6.0
googleapis-common-protos==1.63.1
grpcio==1.64.1
grpcio-status==1.62.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
streamlit==1.32.2
toml==0.10.2
uri-template==1.3.0
uritemplate==4.1.1
mistune==3.0.2
ipython==8.19.0
textwrap
IPython.display
streamlit_lottie
requests

